blinky-lite-ui/flows.json
[{"id":"a7b9d689.b8a5e8","type":"tab","label":"user-interface","disabled":false,"info":""},{"id":"6ad7c930.1a06b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Test Platform","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c27d05d.e787b","type":"ui_tab","z":"","name":"Test Platform","icon":"dashboard"},{"id":"7e5fdaac.e9e804","type":"mqtt-broker","z":"","name":"teensy-pi-0-platform-broker","broker":"broker.shiftr.io","port":"1883","clientid":"ui","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd43730b.039a3","type":"ui_group","z":"","name":"Test Platform","tab":"5c27d05d.e787b","disp":true,"width":"6","collapse":false},{"id":"a773cc3d.b845e","type":"mqtt in","z":"a7b9d689.b8a5e8","name":"","topic":"test/dma/#","qos":"0","broker":"7e5fdaac.e9e804","x":80,"y":180,"wires":[["dec77eb.8a74a8"]]},{"id":"c9aa9833.05e2d8","type":"mqtt out","z":"a7b9d689.b8a5e8","name":"","topic":"","qos":"0","retain":"false","broker":"7e5fdaac.e9e804","x":1370,"y":120,"wires":[]},{"id":"1bd89e96.8fb631","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getLoopTime","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"1","x":1000,"y":120,"wires":[["65b71d62.299bb4"]]},{"id":"dec77eb.8a74a8","type":"function","z":"a7b9d689.b8a5e8","name":"Strip temp/dma/ from topic","func":"msg.topic = msg.topic.substring(msg.topic.indexOf('temp/dma/') + 10);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["fbd05019.3d6b6","e24f0c76.abb02"]]},{"id":"65b71d62.299bb4","type":"function","z":"a7b9d689.b8a5e8","name":"Add test/ui/ to topic","func":"msg.topic = 'test/ui/' + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":120,"wires":[["c9aa9833.05e2d8"]]},{"id":"fbd05019.3d6b6","type":"function","z":"a7b9d689.b8a5e8","name":"get loopTime","func":"if (msg.topic != 'loopTime') return null;\nvar loopTime = Number(msg.payload);\nflow.set('loopTime', loopTime);\nmsg.payload = loopTime;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["9d86012b.7e9db"]]},{"id":"9d86012b.7e9db","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":6,"width":0,"height":0,"name":"","label":"Loop Time","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"6ca0c822.b30eb8","type":"debug","z":"a7b9d689.b8a5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":700,"wires":[]},{"id":"4edb8933.fe50b8","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":1,"width":"6","height":"1","name":"Blinky","label":"","format":"<font color={{(msg.payload == false) ? '#ff0000' : '#333333'}} size='6' ><i class=\"fa fa-heart\"></i></font>","layout":"col-center","x":690,"y":160,"wires":[]},{"id":"94d3001d.c51db","type":"ui_template","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","name":"Does Nothing","order":13,"width":"0","height":"0","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Does Nothing</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":160,"y":600,"wires":[[]]},{"id":"e24f0c76.abb02","type":"function","z":"a7b9d689.b8a5e8","name":"get blinky","func":"if (msg.topic != 'blinky') return null;\nvar blinky = Number(msg.payload);\nflow.set('blinky', blinky);\nmsg.payload = false;\nif (blinky == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["4edb8933.fe50b8"]]}]